

<div class="Head">
    <div id="line_block">
        <a asp-controller="Main" asp-action="Watch">Watch archive</a>
    </div>
    <div id="line_block">
        <a asp-controller="Main" asp-action="Upload">Upload archive</a>
    </div>
</div>